* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
    
  }
  
  /* Header de la pagina */
  header {
    text-align: center;
    padding: 20px;
    font-size: 35px;
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #faaca8 0%, #DDD6F3 100%);
  }
  
  header button {
    border: 1 px solid black;
    margin: 70px;
    padding: 10px;
    height: 50px;
    width: 250px;
    font-size: 25px;
    border-radius: 25px;
    cursor: pointer;
    color: black;
    background-color: #d9afd9;
    background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
  }
  /* al poner el mouse encima*/
  header button:hover {
    background-image: radial-gradient( circle farthest-corner at 83.7% 4.3%, 
     rgba(173,0,171,1) 0%, rgba(15,51,92,1) 90% );
  }
  
  /* Estructura de la pagina */
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 20px;
  }
  
  /* Imagenes */
  .card {
    width: 100%;
    border: 2px solid black;
    background-color: rgba(229, 135, 238, 0.87);
    text-align: center;
    border-radius: 8px ;



  }


  

  .card img {
    width: 100%;
  }
  
  .card h3 {
    text-align: center;
    font-size: 1.2rem;
  }
  
  .card b {
    color: rgb(77, 22, 216);
  }
  
  .modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
    pointer-events: none;
  }
  
  .modalDialog:target {
    opacity: 1;
    pointer-events: auto;
  }
  
  .modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
  }
  
  .close {
    background: #606061;
    color: #ffffff;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
  }
  
  .close:hover {
    background: red;
  }
  
  .modal__img {
    width: 100%;
  }
  